* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}


/* Header ----------------------------------- */

/* Header ----------------------------------- */

.header__container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;



}

.header__text {
    font-family: auto;
    position: absolute;
    font-size: 90px;
    color: black;
    opacity: 90%;
    margin-bottom: 100px;
    margin-right: 50px;
}

.header__img {
    width: 100vw;
    height: 625px;
    object-fit: cover;
}



/*Zona Navegable ----------------------------- */

.nav__container {
    display: flex;
    width: 100vw;
    position: fixed;
    height: 10vh;
    top: 0;
    background-color: rgb(218, 208, 195);
    opacity: 70%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    z-index: 1000;

}

.nav__bars {
    margin-left: 10px;
    width: 25px;
    display: none;
}

.nav__icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.nav__redes{
    display: flex;
    margin-right: 40px;
}

.nav__redes img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.nav__redes a {
    display: flex;
    
}

.nav__ul {
    display: flex;
    list-style: none;
    
}

.nav__ul li {
    font-size: 15px;
    margin-right: 50px;    
}

.nav__ul a {
    color: black;
}

/* Section Index-------------------------------*/

.section__container {
    display: flex;
    margin: 100px 100px 100px 100px;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.section__container img {
    width: 400px;
    height: 400px;
    margin-right: 30px;
    margin-left: 0px;
    background-color: black;
    padding: 10px;
}

.section__text {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.section__text h2 {
    display: flex;
    font-size: 40px;
    padding-right: 50px;
    
}

.section__text p {
    font-size: 20px;
    

}


/* footer  ------------------------------- */

.footer__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url("../assets/img/header-footer/local.jpg");
    position: sticky;
}

.footer__elementos {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.footer__text {
    font-size: 80px;
    color: #fff;
}
.footer__button {
    margin-top: 150px;
    width: 40%;
    margin-left: 180px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
}

.footer__redes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 80px;
}
.footer__instagram {
    width: 50px;
    height: 50px;
}
.footer__facebook {
    width: 50px;
    height: 50px;
}

/* SECTION CON GRID LAYOUT ---------------------------------------------------------- */

.grid__layout {
    display: grid;
    width: 100%;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(30px 250px 30px 250px 30px 250px);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin: 50PX auto;
    justify-content: center;

}

.c1 {
    grid-column: 1/4;
    margin-left: 60px;
}


.c2 {
    grid-column: 1/1;
    width: 330px;
    height: 440px;  
    margin: 15px;
    text-align: center;
    transition: all 0.25s;  
}

.c2:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c2 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c2 h3 {
    font-size: 20px;
}



.c3 {
    grid-column: 2/2;
    width: 330px;
    height: 440px;
    margin: 15px;
    text-align: center;
    transition: all 0.25s;  
    
}

.c3:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c3 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c4 {
    grid-column: 3/3;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c4:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c4 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c5 {
    grid-column: 1/4;
    margin-left: 60px;
    margin-top: 50px;
}

.c6 {
    grid-column: 1/1;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c6:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c6 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c7 {
    grid-column: 2/2;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c7:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c7 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c8 {
    grid-column: 3/3;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c8:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c8 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c9 {
    grid-column: 1/4;
    margin-left: 60px;
    margin-top: 50px;
}

.c10 {
    grid-column: 1/1;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c10:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c10 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c11 {
    grid-column: 2/2;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c11:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c11 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.c12 {
    grid-column: 3/3;
    width: 330px;
    height: 440px;
    transition: all 0.25s;  
    margin: 15px;
    text-align: center;
    
}

.c12:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.c12 img {
    width: 320px;
    height: 300px;
    object-fit: cover;
}

/* MENU -------------------------------------------------------- */

.menu__container {
    display: flex;
    margin: 100px 80px 100px 80px;
    border: 3px solid black;
    height: 350px;
    justify-content: space-between;
    
}

.menu__text {
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu__text h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: fantasy;
}

.menu__text p {
    font-family: fantasy;
    font-family: fangsong;
    font-size: 30px;
}


.menu__descarga {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 50px;
    margin-top: 25px;
    position: relative;
    height: 300px;
    padding: 20px;
    justify-content: space-around;
    object-fit: cover;
}

.menu__descarga p {
    font-size: 20px;
}

.menu__descarga button {
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.papas__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    width: 80%;
}
.papas__section {
    display: flex;
    justify-content: center;
    width: 600px;
}
.papas__container h2 {
    display: flex;
    justify-content: center;
}

.papas__img{
    width: 170px;
    height: 450px;
    object-fit: cover;
}

.papas__huevo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.papas__huevo select{
    width: 30px;
    margin-top: 10px;
}

.papas__crema{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    align-items: center;
}

.papas__crema select{
    width: 30px;
    margin-top: 10px;
}

.papas__barbacoa{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    align-items: center;
}

.papas__barbacoa select{
    width: 30px;
    margin-top: 10px;
}



.ensaladas__container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
}
.ensaladas__section {
    display: flex;
    justify-content: center;
    width: 600px;
}
.ensaladas__container img{
    width: 170px;
    height: 450px;
    object-fit: cover;
}
.ensaladas__container h2 {
    display: flex;
    justify-content: center;
}
.ensaladas__cesar{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.ensaladas__cesar select{
    width: 30px;
    margin-top: 10px;
}

.ensaladas__coles{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    align-items: center;
}

.ensaladas__coles select{
    width: 30px;
    margin-top: 10px;
}

.ensaladas__ligera{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    align-items: center;
}

.ensaladas__ligera select{
    width: 30px;
    margin-top: 10px;
}

.papas__ensaladas{
    display: flex;
}

.titulos__papasensaladas{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: fantasy;
}

.cervezas__title {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 80px;
    font-size: 30px;
    font-family: fantasy;
}

.cervezas__container {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin: 0px 80px 0px 80px;
    padding: 50px;
}

.cervezas__container img {
    width: 350px;
}

.cervezas__text {
    margin-left: 50px;
    display: flex;
    padding: 20px;
}

.cervezas__cajas h3 {
    padding-bottom: 10px; 
}

.cervezas__cajas p {
    padding-bottom: 25px;
}

.cervezas__consumo {
    margin-left: 300px;
    
}

/* VEGGIE ------------------------------------------ */

.veggie__title {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

.veggie__burger {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 430px;
    justify-content: center;
    margin: auto;
}

.veggie__veggie {
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0,2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}

.veggie__burger .veggie__veggie:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.veggie__burger .veggie__veggie img {
    width: 330px;
    height: 300px;
    object-fit: cover;
}

.veggie__burger .veggie__veggie h3 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 25px;
    font-family: fantasy;
}

.veggie__burger .veggie__veggie p {
    font-size: 16px;
    font-weight: 300;
}

.veggie__burger .veggie__veggie select {
    position: absolute;
    flex: flex-start;
    cursor: pointer;
}

.celiacos__container {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    margin-top: 300px;
}

.celiacos__text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.celiacos__text p {
    font-size: 25px;
    margin-top: 25px;
    width: 400px;
}

.celiacos__text h2 {
    font-size: 30px;
    font-family: fantasy;
    
}

.celiacos__burger {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;

}

.celiacos__burger img {
    width: 600px;
    height: 350px;
    object-fit: contain;
    
}

.celiacos__burger p {
    display: flex;
    font-size: 16px;
    font-weight: 200;
    width: 500px;
    margin-top: 15px;
    
    
}

.celiacos__burger select {
    display: flex;
    width: 40px;
    flex: flex-start;
    cursor: pointer;
}


/*PAGE NOSOTROS -----------------------------------*/

.nosotros__container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.nosotros__container img {
    width: 400px;
    height: 400px;
    margin-right: 30px;
    margin-left: 0px;
    
}

.nosotros__text {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.nosotros__text h2 {
    display: flex;
    font-size: 40px;
    padding-right: 50px;
    
}

.nosotros__text p {
    font-size: 20px;
    

}

.nosotros__title {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.nosotros__locales {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 430px;
    justify-content: center;
    margin: auto;
}

.nosotros__locales .nosotros__barrio {
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0,2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;  
}

.nosotros__locales .nosotros__barrio:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}

.nosotros__locales .nosotros__barrio iframe {
    width: 330px;
    height: 300px;
    object-fit: cover;
}

.nosotros__locales .nosotros__barrio h3 {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nosotros__locales .nosotros__barrio p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.nosotros__trabajo {
    margin-top: 200px;
}

/*RESPONSIVE 1090 GRID LAYOUT -----------------------------------*/
@media screen and ( max-width : 1010px ) {
    .grid__layout {
        display: grid;
        width: 100%;
        grid-template-columns: repeat (2, 1fr);
    }
    .c4 {
        grid-column: 1/1;
    }

    .c8 {
        grid-column: 1/1;
    }

    .c12 {
        grid-column: 1/1;
    }

}    


/* RESPONSIVE 990 VEGGIE ---------------------- */


@media screen and ( max-width : 990px){
    .quinoa {
        margin-top: 180px;
    }

    .celiacos__burger {
        width: 540px;
    }

    .celiacos__container {
        margin-top: 1000px;
    }

}


/* RESPONSIVE 716 GRID LAYOUT ---------------------- */

@media screen and ( max-width : 716px ) {
    .grid__layout {
        display: grid;
        width: 100%;
        grid-template-columns: repeat (1, 1fr);
    }
    .c3 {
        grid-column: 1/1;
    }

    .c7 {
        grid-column: 1/1;
    }

    .c11 {
        grid-column: 1/1;
    }

}

/* RESPONSIVE 950PX ---------------------------- */

@media screen and ( max-width : 1109px ) {

    .nosotros__trabajo {
        margin-top: 550px;
    }
    
    .nosotros__text {
        margin-left: 40px;
        margin-top: 15px;
    }
    .menu__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        height:100%;
        margin-left: 60px;
    }
    .menu__text {
        width: 200px;
        
    }
    .menu__text p {
        font-size: 25px;
        width: 380px;
        text-align: justify;
        margin-top: 20px;
    }
    .menu__descarga {
        height: 420px;
        width: 400px;
        text-align: justify;
        margin-top: 50px;
    }
    .menu__descarga p {
        height: 300px;
        font-size: 22px;
        width: 380px;
    }
    .papas__section {
        width: 200px;
        margin-left: 90px;
    }
    .papas__container h2 {
        width: 200px;
        margin-left: 86px;
    }
    .papas__img {
        width: 150px;
    }
    .papas__ensaladas{
        display: flex;
        justify-content: space-around;
        width: 850px;
        margin-left: 40px;
    }
    .ensaladas__section{
        width: 200px;
        margin-left: 20px;
    }
    .ensaladas__container img {
        width: 150px;
        
    }
    .container__navbar {
        width: 100%;
    }
    .cervezas__container {
        display: flex;
        justify-content: space-around;
        width: 99%;
        margin-left: 10px;
        height: 70%;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 40%;
        height:80%;
        
    }
    .cervezas__text {
        width: 850px;
        margin-left: 90px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 280px;
        margin-left: 50px;
    }
    .cervezas__consumo {
        width: 500px;
        height: 40px;
        margin-top: 40px;
        text-align: center;
        margin-left: 300px;
        font-size: 20px;
    }
    .footer__text {
        font-size: 50px;
        margin-left:20px;
    }
    .footer__button {
        font-size: 12px;
        height: 40px;
        margin-left: 130px;
}
.footer__redes {
    margin-bottom: 20px;
}
}

/* RESPONSIVE 800PX ---------------------------- */

@media only screen and ( max-width : 800px ) {
    .header__img {
        object-fit: cover;
        width: 100vw;
        height: 320px;
    }

    .header__text {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .section__container {
        display: flex;
        margin: 100px 100px 100px 100px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
    }
    
    .section__container img {
        width: 400px;
        height: 400px;
        margin-right: 30px;
        margin-left: 0px;
        background-color: black;
        padding: 10px;
    }
    
    .section__text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    
    }
    
    .section__text h2 {
        display: flex;
        font-size: 40px;
        padding-right: 50px;    
    }

    .section__text p {
        font-size: 20px;
        margin-top: 20px;
    }

    .footer__container {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 340px;
        width: 100vw;
    }


    .footer__elementos {
        display: flex;
        position: absolute;
        height: 340px;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .footer__text {
        margin-top: 20px;
        font-size: 60px;
    }

    .footer__img {
        width: 100vw;
        object-fit: cover;
        height: 340px;
    }

    .footer__redes {
        display: flex;
        align-items: center;
        padding-top: 35px;
        margin-bottom: 20px;
        
    }

    .footer__button {
        margin: 0;
        margin-top: 100px;
        width: 150px;
        height: 50px;
        font-size: 12px;
    }
    .menu__container {
        width: 82%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin-left: 60px;
    }
    .menu__text {
        width: 500px;
    }
    .menu__text p {
        font-size: 20px;
        width: 450px;
        text-align: justify;
    }
    .menu__descarga {
        height: 420px;
        width: 380px;
        text-align: justify;
    }
    .menu__descarga p {
        height: 300px;
        font-size: 22px;
        width: 460px;
    }
    .papas__section {
        width: 500px;
        margin-left: 40px;
    }
    .papas__img {
        width: 200px;
    }
    .papas__ensaladas{
        display: flex;
        flex-direction: column;
    }
    .ensaladas__section{
        width: 500px;
        margin-left: 40px;
    }
    .ensaladas__container img {
        width: 200px;
        
    }
    .container__navbar {
       width: 100%;
    }
    .cervezas__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 100%;
        
    }
    .cervezas__text {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 90px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 280px;
        margin-left: 100px;
    }
    .cervezas__consumo {
        width: 300px;
        height: 40px;
        margin-top: 20px;
        text-align: center;
        margin-left: 160px;
    }
    .footer__text {
        font-size: 25px;
        margin-left:8px;
    }
    .footer__button {
        font-size: 10px;
        height: 30px;
}
}

@media screen and ( max-width : 739px ) {

    .nosotros__trabajo {
        margin-top: 1050px;
    }
    
    .nosotros__text {
        margin-left: 40px;
        margin-top: 15px;
    }
    .menu__container {
        width: 82%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin-left: 60px;
    }
    .menu__text {
        width: 500px;
    }
    .menu__text p {
        font-size: 20px;
        width: 450px;
        text-align: justify;
    }
    .menu__descarga {
        height: 420px;
        width: 380px;
        text-align: justify;
    }
    .menu__descarga p {
        height: 300px;
        font-size: 22px;
        width: 460px;
    }
    .papas__section {
        width: 500px;
        margin-left: 40px;
    }
    .papas__img {
        width: 200px;
    }
    .papas__ensaladas{
        display: flex;
        flex-direction: column;
    }
    .ensaladas__section{
        width: 500px;
        margin-left: 40px;
    }
    .ensaladas__container img {
        width: 200px;
        
    }
    .container__navbar {
       width: 100%;
    }
    .cervezas__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 100%;
        
    }
    .cervezas__text {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 90px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 280px;
        margin-left: 100px;
    }
    .cervezas__consumo {
        width: 300px;
        height: 40px;
        margin-top: 20px;
        text-align: center;
        margin-left: 180px;
    }
    .footer__text {
        font-size: 25px;
        margin-left:8px;
    }
    .footer__button {
        font-size: 10px;
        height: 30px;
    }
}


@media only screen and ( max-width : 659px ) {
    .lentejas {
        margin-top: 180px;
    }

    .celiacos__container {
        margin-top: 1500px;
    }


}



@media only screen and ( max-width : 672px ) {
    .nav__bars {
        display: inline-block;
    }

    .nav__ul {
        display: none;
    }

    .nav__container {
        justify-content: left;
        
    }

    .nav__icon {
        margin-left: 10px;
    }

    .nav__redes {
        padding: 30px;
    }

    .celiacos__text {
        display: flex;
        flex-direction: column;
        width: 96%;
        align-items: center;
    }

    .celiacos__text p {
        font-size: 25px;
        margin-top: 25px;
        width: 95%;
        display: flex;
        text-align: justify;
    }
    .menu__container {
        width: 82%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin-left: 60px;
    }
    .menu__text {
        width: 500px;
    }
    .menu__text p {
        font-size: 20px;
        width: 450px;
        text-align: justify;
    }
    .menu__descarga {
        height: 420px;
        width: 380px;
        text-align: justify;
    }
    .menu__descarga p {
        height: 300px;
        font-size: 22px;
        width: 460px;
    }
    .papas__section {
        width: 500px;
        margin-left: 40px;
    }
    .papas__img {
        width: 200px;
    }
    .papas__ensaladas{
        display: flex;
        flex-direction: column;
    }
    .ensaladas__section{
        width: 500px;
        margin-left: 40px;
    }
    .ensaladas__container img {
        width: 200px;
        
    }
    .container__navbar {
       width: 100%;
    }
    .cervezas__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 100%;
        
    }
    .cervezas__text {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 90px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 280px;
        margin-left: 100px;
    }
    .cervezas__consumo {
        width: 300px;
        height: 40px;
        margin-top: 20px;
        text-align: center;
        margin-left: 160px;
    }
    .footer__text {
        font-size: 25px;
        margin-left:8px;
    }
    .footer__button {
        font-size: 10px;
        height: 30px;
    }
}




@media only screen and ( max-width : 541px ) {
    
    .celiacos__burger img {
        width: 85%;
        margin-left: -45px;
    }

    .celiacos__burger p {
        width: 360px;
        position: relative;
        bottom: 40px;
        text-align: center;
        margin-right: 30px;
    }
    .celiacos__burger select {
        margin-bottom: 40px;
    }

    .celiacos__text {
        display: flex;
        flex-direction: column;
        width: 96%;
        align-items: center;
}

    .celiacos__text p {
        font-size: 27px;
        margin-top: 25px;
        width: 95%;
        display: flex;
        text-align: justify;
    }
    .menu__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin-left: 10px;
    }
    .menu__text {
        width: 400px;
    }
    .menu__text p {
        font-size: 20px;
        width: 380px;
        text-align: justify;
    }
    .menu__descarga {
        height: 380px;
        width: 380px;
        text-align: justify;
    }
    .menu__descarga p {
        height: 300px;
        font-size: 22px;
    }
    .papas__section {
        width: 300px;
        margin-left: 60px;
    }
    .papas__img {
        width: 140px;
    }
    .papas__ensaladas{
        display: flex;
        flex-direction: column;
    }
    .ensaladas__section{
        width: 300px;
        margin-left: 60px;
    }
    .ensaladas__container img {
        width: 140px;
        
    }
    .container__navbar {
       width: 459x;
    }
    .cervezas__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 100%;
        
    }
    .cervezas__text {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: 90px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 280px;
        margin-left: 100px;
    }
    .cervezas__consumo {
        width: 300px;
        height: 40px;
        margin-top: 20px;
        text-align: center;
        margin-left: 120px;
    }
    .footer__text {
        font-size: 25px;
        margin-left:8px;
    }
    .footer__button {
        font-size: 10px;
        height: 30px;
    }
}



@media screen and ( max-width: 468px ) {
    .header__img {
        object-fit: cover;
        width: 100vw;
        height: 320px;
    }

    .footer__container {
        height: 320px;
    }

    .footer__elementos {
        height: 320px;
    }

    .footer__img {
        height: 320px;
    }

    .footer__button {
        margin-top: 50px;
    }

    .footer__text {
        margin-top: 20px;
        font-size: 50px;
    }

    .section__text {
        width: 320px;
    }

    .section__container img {
        width: 320px;
        height: 320px;
        margin: 0px;
    }

    .celiacos__burger {
        width: 450px;
    } 

    .celiacos__burger img {
        width: 85%;
        margin-left: -45px;
    }

    .celiacos__text {
        display: flex;
        flex-direction: column;
        width: 96%;
        align-items: center;
}

    .celiacos__text p {
        font-size: 24px;
        margin-top: 25px;
        width: 95%;
        display: flex;
        text-align: justify;
}
.menu__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    height:100%;
    margin-left: 10px;
}
.menu__text {
    width: 160px;
}
.menu__text p {
    font-size: 20px;
    width: 250px;
}
.menu__descarga {
    height: 350px;
}
.papas__section {
    width: 200px;
    margin-left: 60px;
}
.papas__img {
    width: 100px;
}
.papas__ensaladas{
    display: flex;
    flex-direction: column;
}
.ensaladas__section{
    width: 200px;
    margin-left: 80px;
}
.ensaladas__container img {
    width: 100px;
}
.container__navbar {
   width: 459x;
}
.cervezas__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
}
.cervezas__container img {
    object-fit: cover;
    width: 100%;
    
}
.cervezas__text {
    display: flex;
    flex-direction: column;
    width: 210px;
    margin-left: 10px;
}
.cervezas__title {
    display: flex;
    justify-content: center;
    width: 180px;
}
.cervezas__consumo {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
}
.footer__text {
    font-size: 25px;
    margin-left:8px;
}
.footer__button {
    font-size: 10px;
    height: 30px;
}
}

@media only screen and ( max-width : 390px ) {

    .grid__layout {
        display: grid;
        width: 100vw;
        grid-template-columns: repeat (1, 1fr);
    }

    .header__text {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .section__text {
        width: 320px;
    }

    .section__text h2 {
        font-size: 30px;
    }
    
    .section__text p {
        font-size: 15px;
    }

    .footer__text {
        width: 320px;
        font-size: 40px;
    }

    .footer__container {
        height: 280px;
    }

    .footer__elementos {
        height: 280px;
    }

    .footer__img {
        height: 280px;
    }

    .celiacos__burger {
        width: 370px;
    } 

    .celiacos__burger img {
        width: 85%;
        margin-left: -45px;
    }

    .celiacos__text {
            display: flex;
            flex-direction: column;
            width: 96%;
            align-items: center;
    }

    .celiacos__text p {
            font-size: 20px;
            margin-top: 25px;
            width: 95%;
            display: flex;
            text-align: justify;
    }
    .menu__container {
        width: 80%;
        display: flex;
        flex-direction: column;
        height:100%;
        margin-left: 10px;
    }
    .menu__text {
        width: 160px;
    }
    .menu__text p {
        font-size: 20px;
        width: 250px;
    }
    .menu__descarga {
        height: 350px;
    }
    .papas__section {
        width: 200px;
        margin-left: 40px;
    }
    .papas__img {
        width: 100px;
    }
    .papas__ensaladas{
        display: flex;
        flex-direction: column;
    }
    .ensaladas__section{
        width: 200px;
        margin-left: 40px;
    }
    .ensaladas__container img {
        width: 100px;
    }
    .container__navbar {
       width: 380px;
    }
    .cervezas__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 10px;
    }
    .cervezas__container img {
        object-fit: cover;
        width: 100%;
        
    }
    .cervezas__text {
        display: flex;
        flex-direction: column;
        width: 210px;
        margin-left: 10px;
    }
    .cervezas__title {
        display: flex;
        justify-content: center;
        width: 180px;
    }
    .cervezas__consumo {
        width: 300px;
        height: 40px;
        margin-left: 10px;
        margin-top: 20px;
        text-align: center;
    }
    .footer__text {
        font-size: 25px;
        margin-left: 100px;
    }
    .footer__button {
        font-size: 10px;
        height: 30px;
    }
}
